.background {
    width: 100%;
    padding: 80px 0;
    background-image: url(../../public/images/circles.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
}

@media (max-width: 640px) {
    .background {
        margin-top: 200px;
        background-size: 150%;
    }
}

.background div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    text-align: center;
    width: 900px;
}

@media (max-width: 640px) {
    .title {
        width: 90%;
    }
}

.background img {
    width: 140%;
    height: auto;
    margin-top: 80px;
}

@media (max-width: 640px) {
    .background img {
        width: 100%;
        margin-top: 20px;
    }
}

.fadeIn {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease, transform 1s ease;
}

.fadeIn.visible {
    opacity: 1;
    transform: translateY(0);
}